@{
    ViewData["Title"] = "Thanh toán thành công";
}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center p-4" style="font-size:1.2rem;">
                <i class="bi bi-check-circle-fill me-2" style="font-size:2rem;"></i>
                <b>Thanh toán thành công!</b><br>
                Đơn hàng của bạn đã được xác nhận.<br>
                Cảm ơn bạn đã mua hàng tại <b>ThanhCuongShop</b>.<br>
                <a href="/" class="btn btn-outline-primary mt-3">Về trang chủ</a>
            </div>
        </div>
    </div>
</div> 